@font-face {
  font-family: 'PosterFont1';
  src: url('./assets//fonts/SofaSansHand-Bold.woff2') format('woff2'),
    url('./assets//fonts/SofaSansHand-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PosterFont1';
  src: url('./assets//fonts/SofaSansHand-RegularDP.woff2') format('woff2'),
    url('./assets//fonts/SofaSansHand-RegularDP.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'PosterFont2';
  src: url('./assets//fonts/OvercameDemoRegular.woff2') format('woff2'),
      url('./assets//fonts/OvercameDemoRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PosterFont2';
  src: url('./assets//fonts/OvercameDemoBold.woff2') format('woff2'),
      url('./assets//fonts/OvercameDemoBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'PosterFont3';
  src: url('./assets//fonts/DaftBrush.woff2') format('woff2'),
    url('./assets//fonts/DaftBrush.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.gradientBg {
  background: linear-gradient(40deg, rgba(66, 4, 126, 1) 0%, rgba(7, 244, 158, 1) 100%);
}

.hoverGradient:hover {
  background: linear-gradient(40deg, rgba(66, 4, 126, 1) 0%, rgba(7, 244, 158, 1) 100%);
}

.selectorBorder {
  display: inline-flex;
  border: double 6px transparent;
  border-radius: 80px;
  background-image: linear-gradient(40deg, rgba(66, 4, 126, 1) 0%, rgba(7, 244, 158, 1) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate-on-click {
  animation: rotate360 1s linear;
}


.purpleBluePosterBg {
  background: linear-gradient(40deg, rgba(66, 4, 126, 1) 0%, rgba(7, 244, 158, 1) 100%);
}

.blueRedPosterBg {
  background: linear-gradient(40deg, rgb(9, 60, 119) 0%, rgb(221, 44, 44) 100%);
}

.orangeYellowPosterBg {
  background: linear-gradient(40deg, #ff9966 0%, #ff5e62 100%);
}

.purpleSunriseBg {
  background: linear-gradient(40deg, #3A1C71 0%, #D76D77 50%, #FFAF7B 100%);
}


.posterFont1 {
  font-family: 'PosterFont1';
}

/* .posterFont2 {
  font-family: 'PosterFont2';
} */

.posterFont3 {
  font-family: 'PosterFont3';
}